@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
body {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  line-height: 1.7 !important;
  color: #4d8052 !important;
}
.slbg {
  background-color: #0c120c !important;
}

p {
  font-weight: 500 !important;
  font-size: 14px !important;
}
h4 {
  font-weight: 600 !important;
}
h6 span {
  padding: 0 20px !important;
  font-weight: 700 !important;
}
#section {
  position: relative !important;
  width: 100% !important;
  display: block !important;
}
.full-height {
  min-height: 100vh !important;
}
[type="indecator"]:checked,
[type="indecator"]:not(:checked) {
  display: none !important;
}
.indecator {
  visibility: hidden;
}
.indecator:checked + label,
.indecator:not(:checked) + label {
  position: relative !important;
  display: block !important;
  text-align: center !important;
  width: 60px !important;
  height: 16px !important;
  border-radius: 8px !important;
  padding: 0 !important;
  margin: 10px auto !important;
  cursor: pointer !important;
  background-color: #bfd9c2 !important;
}
.indecator:checked + label:before,
.indecator:not(:checked) + label:before {
  position: absolute !important;
  display: block !important;
  width: 36px !important;
  height: 36px !important;
  border-radius: 50% !important;
  color: #4d8052 !important;
  background-color: #020305 !important;
  font-family: "unicons" !important;
  content: "\eb4f" !important;
  z-index: 20 !important;
  top: -10px !important;
  left: -10px !important;
  line-height: 36px !important;
  text-align: center !important;
  font-size: 24px !important;
  transition: all 0.5s ease !important;
}
.indecator:checked + label:before {
  transform: translateX(44px) rotate(-270deg) !important;
}
#card-3d-wrap {
  position: relative !important;
  width: 440px !important;
  max-width: 100% !important;
  height: 400px !important;
  -webkit-transform-style: preserve-3d !important;
  transform-style: preserve-3d !important;
  perspective: 800px !important;
  margin-top: 60px !important;
}

#card-3d-wrapper {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  -webkit-transform-style: preserve-3d !important;
  transform-style: preserve-3d !important;
  transition: all 600ms ease-out !important;
}
.card-front,
.card-back {
  width: 100% !important;
  height: 100% !important;
  background-color: #2b2e38 !important;
  background-image: url("https://images.unsplash.com/photo-1552152974-19b9caf99137?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZGFyayUyMHBhdHRlcm58ZW58MHx8MHx8fDA%3D&w=1000&q=80") !important;
  position: absolute !important;
  border-radius: 6px !important;
  -webkit-transform-style: preserve-3d !important;
}
.card-back {
  transform: rotateY(180deg) !important;
}
.indecator:checked ~ #card-3d-wrap #card-3d-wrapper {
  transform: rotateY(180deg) !important;
}
.center-wrap {
  position: absolute !important;
  width: 100% !important;
  padding: 0 35px !important;
  top: 50% !important;
  left: 0 !important;
  transform: translate3d(0, -50%, 35px) perspective(100px) !important;
  z-index: 20 !important;
  display: block !important;
}
.form-group {
  position: relative !important;
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
}
.form-style {
  padding: 13px 20px !important;
  padding-left: 55px !important;
  height: 48px !important;
  width: 100% !important;
  font-weight: 500 !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  line-height: 22px !important;
  letter-spacing: 0.5px !important;
  outline: none !important;
  color: #4d8052 !important;
  background-color: #1f2029 !important;
  border: none !important;
  -webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
  box-shadow: 0 4px 8px 0 #bfd9c2 !important;
}
.form-style:focus,
.form-style:active {
  border: none !important;
  outline: none !important;
  box-shadow: 0 4px 8px 0 #bfd9c2 !important;
}
.input-icon {
  position: absolute !important;
  top: 0 !important;
  left: 18px !important;
  height: 48px !important;
  font-size: 24px !important;
  line-height: 48px !important;
  text-align: left !important;
  -webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
}

.slbtn {
  height: 44px !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  -webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
  padding: 0 30px !important;
  letter-spacing: 1px !important;
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  align-items: center !important;
  background-color: #4d8052 !important;
  color: #0c120c !important;
  border-color: #0c120c !important;
  width: 100% !important;
}

.slbtn:hover {
  background-color: #0c120c !important;
  color: #4d8052 !important;
  box-shadow: 0 1px 8px 0 #4d8052 !important;
  border: #0c120c;
}
.slvisib {
  background-color: #fff;
  border-radius: 6px;
  margin-right: 0;
  padding: 0;
}

.slpass {
  margin-right: 3vh;
}
